<header id="header" class="header d-flex align-items-center fixed-top">
  <div
    class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between"
  >
    <a class="logo d-flex align-items-center me-auto me-xl-0">
      <!-- <img src="assets/img/logo.png" alt="Logo MOVE"> -->
      <h1 class="sitename">MOVE</h1>
    </a>
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero">Inicio</a></li>
        <li><a href="#about">Objetivo</a></li>
        <li><a href="#features">Caracteristicas</a></li>
        <li><a href="#gallery">Galería</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list" (click)="toggleMobileNav()"></i>
    </nav>
    <a class="btn-getstarted" [routerLink]="['/signin']">Ingresar</a>
  </div>
</header>
