

<div class="p-5 border border-gray-200 rounded-2xl dark:border-gray-800 lg:p-6">
  <div class="flex flex-col gap-5 xl:flex-row xl:items-center xl:justify-between">
    <div class="flex flex-col items-center w-full gap-6 xl:flex-row">
      <div class="w-20 h-20 overflow-hidden border border-gray-200 rounded-full dark:border-gray-800">
        <img [src]="user.avatar" alt="user" />
      </div>
      <div class="order-3 xl:order-2">
        <h4 class="mb-2 text-lg font-semibold text-center text-gray-800 dark:text-white/90 xl:text-left">
          {{ user.firstName }} {{ user.lastName }}
        </h4>
        <div class="flex flex-col items-center gap-1 text-center xl:flex-row xl:gap-3 xl:text-left">
          <p class="text-sm text-gray-500 dark:text-gray-400">
            {{ user.role }}
          </p>
          <div class="hidden h-3.5 w-px bg-gray-300 dark:bg-gray-700 xl:block"></div>
          <p class="text-sm text-gray-500 dark:text-gray-400">
            {{ user.location }}
          </p>
        </div>
      </div>
</div>

<!-- Modal -->
<app-modal
  [isOpen]="isOpen"
  (close)="closeModal()"
  className="max-w-[700px] m-4"
>
  <div class="no-scrollbar relative w-full max-w-[700px] overflow-y-auto rounded-3xl bg-white p-4 dark:bg-gray-900 lg:p-11">
    <div class="px-2 pr-14">
      <h4 class="mb-2 text-2xl font-semibold text-gray-800 dark:text-white/90">
        Editar información personal
      </h4>
      <p class="mb-6 text-sm text-gray-500 dark:text-gray-400 lg:mb-7">
        Actualiza tus datos para mantener tu perfil al día.
      </p>
    </div>
    <form class="flex flex-col" (ngSubmit)="handleSave()">
      <div class="custom-scrollbar h-[450px] overflow-y-auto px-2 pb-3">
        <div>
          <h5 class="mb-5 text-lg font-medium text-gray-800 dark:text-white/90 lg:mb-6">
            Redes sociales
          </h5>
          <div class="grid grid-cols-1 gap-x-6 gap-y-5 lg:grid-cols-2">
            <div>
              <label>Facebook</label>
              <app-input-field type="text" [value]="user.social.facebook" />
            </div>
            <div>
              <label>X.com</label>
              <app-input-field type="text" [value]="user.social.x" />
            </div>
            <div>
              <label>LinkedIn</label>
              <app-input-field type="text" [value]="user.social.linkedin" />
            </div>
            <div>
              <label>Instagram</label>
              <app-input-field type="text" [value]="user.social.instagram" />
            </div>
          </div>
        </div>
        <div class="mt-7">
          <h5 class="mb-5 text-lg font-medium text-gray-800 dark:text-white/90 lg:mb-6">
            Información personal
          </h5>
          <div class="grid grid-cols-1 gap-x-6 gap-y-5 lg:grid-cols-2">
            <div class="col-span-2 lg:col-span-1">
              <label>Nombre</label>
              <app-input-field type="text" [value]="user.firstName" />
            </div>
            <div class="col-span-2 lg:col-span-1">
              <label>Apellido</label>
              <app-input-field type="text" [value]="user.lastName" />
            </div>
            <div class="col-span-2 lg:col-span-1">
              <label>Correo electrónico</label>
              <app-input-field type="text" [value]="user.email" />
            </div>
            <div class="col-span-2 lg:col-span-1">
              <label>Teléfono</label>
              <app-input-field type="text" [value]="user.phone" />
            </div>
            <div class="col-span-2">
              <label>Biografía</label>
              <app-input-field type="text" [value]="user.bio" />
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center gap-3 px-2 mt-6 lg:justify-end">
        <app-button size="sm" variant="outline" (btnClick)="closeModal()">Cerrar</app-button>
        <app-button size="sm" (btnClick)="handleSave()">Guardar cambios</app-button>
      </div>
    </form>
  </div>
</app-modal>